{% extends "base.html" %}
{% block content %}
<section id="content" class="body">
	<div class="jumbotron">
		<div class="row">
			<div class="visible-lg col-lg-3">
				{{ INDEX_LEFT }}
			</div>

			<div class="visible-sm visible-md col-lg-3">
				{{ INDEX_LEFT }}
				{{ INDEX_RIGHT }}
			</div>

			<div class="visible-xs col-lg-3">
				{{ INDEX_LEFT_XS }}
				{{ INDEX_RIGHT_XS }}
			</div>

			<div class="visible-lg col-lg-6">
				<h1>{{ SITENAME }}</h1>
				<p>{{ SITEDESC }}</p>
			</div>

			<div class="visible-md col-lg-2">
				<h1>{{ SITENAME }}</h1>
				<p>{{ SITEDESC }}</p>
			</div>

			<div class="visible-xs visible-sm col-lg-3">
				<h1>{{ SITENAME }}</h1>
			</div>

			<div class="visible-lg col-lg-3">
				{{ INDEX_RIGHT }}
			</div>
		</div>
	</div>
</section><!-- /#content -->
{% endblock content %}
